{% extends 'employees/employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        Hello {{ logged_in_employee.name }}!<br />
        Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />

        <br />

        <br />
        Your Customers with a matching zip code:
        <br />

        {% for customers in zip_code_match %}
          {{ customers.name }}
        {% endfor %}


{#  As a registered employee, I want my index view to be a list of today’s customers who meet ALL the following criteria:#}
{#-	Customers in my zip code#}
{#-	Pickup day is today’s day of week OR One-time pickup date that falls on today#}
{#-	Non-suspended accounts#}
{#-	Trash has not yet been picked up today    #}


  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}